h1{
    text-align: center;
    color:rgb(9, 9, 9);
}
body{
    color: white;
    margin: 0%;
    text-align: center;
    background:linear-gradient( #00c6ff ,#0072ff)
    
}
li{
    text-align: center;
}
