* {
    font-family: 'Times New Roman', Times, serif;
}


#outer {
    font-size: 25px;
}

#inner {
    font-size: 10px;
}

h1 {
    margin: 40px;
    padding: 5;
    animation-duration: 5s;
    animation-timing-function: calc(43);
    background-color: rgb(197, 197, 78);
    text-align: center;
    color: rgb(23, 20, 20);
}

h2 {
    font-variation-settings: initial;
    font-feature-settings: "abvf";
    font-weight: 600px;
    font-display: var(0);
    font-style: italic;
    font-size: 45px;
    font-family: sans-serif;
    text-align: center;
}

body {

    text-align: center;
    font-family: sans-serif, Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(20, 19, 19);
    background: linear-gradient(rgb(71, 207, 253), aqua);

}

li {
    animation-timing-function: cubic-bezier(4sec);
    text-transform: lowercase;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}




.photo-animate {
    margin: 20px;
    padding: 5px;
    background-color: rgb(255, 0, 162);
    border-radius: 10px;
    width: 200px;

    animation-name: upDown;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}





#photo-animate:hover {
    transform: scale(1.1);
    transition: 0.3s;
    cursor: pointer;

    transform: (1, 5);

}

@keyframes upDown {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0px);
    }
}

}
